<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<meta name="viewport" content="width=device-width"/>
		<title>al velada dell año - un proyecto de ibai llanos</title>
	</head>
	<body>
		
	</body>
<main>
	<section>
		<div>
			<img class="z-50" src="" alt="">
			<img class="z-40"src="" alt="">
			<img class="z-30"src="" alt="">
			<img class="z-20"src="" alt="">
			<img class="z-10"src="" alt="">
			<img class="z-0"src="" alt="">
		</div>

	</section>

</main>
<footer>

</footer>


	</html>
<style is:global>
	body{
		margin: 0;
		padding: 0;
		background-color: #000;
	}
</style>

